@charset "utf-8";
/* CSS Document */

body {
	width: 40em;
	margin: 14px auto;
	padding: 14px;
	
	background-color: #cddeb6;
	border: 3px solid #aab897;
	
}

ul {
	margin-left: -40px;
	
}

li {
	list-style-type:georgian;
	
}

.current {
	
	z-index: 2000;
	text-decoration:line-through;
	color: #F33;
}