@charset "utf-8";
/* CSS Document */

div {
	background-color: #f00;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	position: absolute;
	left: 200px;
	top: 200px;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-ms-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	text-align: center;
	line-height: 200px;
}

.current {
	border: 4px solid #000;
	z-index: 2000;
}